In [1]:
import random
from collections import Counter

In [58]:
table1 = [2] + [1] * 2000
table2 = [1] + [2] * 2000

K = 50

In [24]:
def _single_sample(tbl):
    return random.sample(tbl, 1)

In [46]:
def _full_join(table_left, table_right):
    return [(i, j) for i in table_left for j in table_right if i == j]
    
def _sample_from_full_joint(table_left, table_right, sample_size):
    join_results = _full_join(table_left, table_right)
    sampled = random.sample(join_results, sample_size)
    print('real join results: ', Counter([x[0] for x in sampled]))
    return sampled

In [26]:
table_1_freq = Counter(table1)
table_2_freq = Counter(table2)

## let's figure out mathmaticly #values in the join

In [39]:
freq_in_join_real = Counter(_full_join(table1, table2))
freq_in_join_real

Counter({(2, 2): 100, (1, 1): 100})

In [45]:
freq_in_join_estimate = {key: value * table_2_freq[key] for key, value in table_1_freq.items()}
freq_in_join_estimate

{2: 100, 1: 100}

In [29]:
freq_in_join[2]

100

In [32]:
simulate_full_join = [key for key, value in freq_in_join.items() for _ in range(value)]
random_sample_full_join = random.sample(simulate_full_join, K)

In [63]:
a =_sample_from_full_joint(table1, table2, 1000)

real join results:  Counter({1: 503, 2: 497})

In [35]:
# every element chosen, multiply the frequents in t1,t2

[(2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (2, 2),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1),
 (1, 1)]

In [83]:
from collections import defaultdict
chosen_elements = defaultdict(lambda :{'join_freq':0, 'sampled': 0, 'samled_from':[], 'iteration':0})
sampled = 0
i = 0
while sampled < K and i<K/2:
    element = random.sample(table1, 1)[0]
    if not chosen_elements[element]['join_freq']:
        chosen_elements[element]['join_freq'] = freq_in_join_estimate[element]
    chosen_elements[element]['sampled'] +=1
    chosen_elements[element]['iteration'] +=1
    chosen_elements[element]['samled_from'].append('table1')
    
    i+=1
    sampled+=1

we see immidieatly the problem with this approach, we will never get to 1

In [92]:
import random
def _curr_tbl():
    rand = random.randint(0,1)
    return table1 if rand==0 else table2

In [251]:

uuid.uuid4().hex

'c385e6fcbf344d239714280fac9cec12'

In [352]:
import uuid

def _full_join(table_left, table_right):
    return [(i[0], i[1], j[1]) for i in table_left for j in table_right if i[0] == j[0]]
    

class Table:
    _freq = None
    _keys = None
    _values = None
    def __init__(self, name, *args):
        self.name = name
        if isinstance(args[0], list):
            our_data = args[0]
        else:
            our_data = args
        
        self._values = [(x, uuid.uuid4().hex) for x in our_data]
    
    def __iter__(self):
        yield from self._values
    
    @property
    def freq(self):
        if not self._freq:
            self._freq = Counter(self.keys)
        return self._freq
    
    @property
    def keys(self):
        if not self._keys:
            self._keys = [x[0] for x in self._values]
        return self._keys
    
    def rand(self):
        return random.sample(self._values, 1)[0]
    
    def join(self, tbl):
        return _full_join(self, tbl)
    
    def get_key(self, value):
        return [x for x in self._values if x[0]==value]

In [382]:
tbl1 = Table('tbl1', [random.randint(1, 10) for _ in range(50)] + [random.randint(10, 20) for _ in range(20)] + [13 for _ in range(60)])
tbl2 = Table('tbl2',  [random.randint(10, 20) for _ in range(50)])

In [408]:
freq_in_join_estimate = {key: value * tbl2.freq[key] for key, value in tbl1.freq.items() if value * tbl2.freq[key]}

In [409]:
freq_in_join_estimate

{10: 30, 20: 4, 17: 5, 15: 7, 11: 36, 12: 12, 13: 248, 18: 5, 16: 4, 14: 4}

In [397]:
import numpy as np
import random

def _tables_iterator(table1, table2):
    tbl1_participant = sum([table2.freq[x] for x in table1.keys])
    tbl2_participant = sum([table1.freq[x] for x in table2.keys])
    sum_of_join = tbl1_participant + tbl2_participant
    while True:
        yield np.random.choice([table1, table2], p=[tbl1_participant/sum_of_join, tbl2_participant/sum_of_join])

In [398]:
from collections import defaultdict
chosen_elements = defaultdict(lambda :{'join_freq':0, 'sampled': 0, 'sampled_from':[], 'iteration':0})
sampled = 0
i = 0
K = 100

samples = []

full_join = tbl1.join(tbl2)
print('we have full join')
values_in_join = {x[0] for x in full_join}
tables_picker = _tables_iterator(tbl1, tbl2)
sampled_keys=[]
while sum([x['sampled'] for x in chosen_elements.values()]) < K:
    i+=1
    curr_table = next(tables_picker)

    print('curr table selected')
    element = curr_table.rand()
    element_key = element[0]

    while element_key not in values_in_join or (
        chosen_elements[element_key]['sampled'] == freq_in_join_estimate[element_key]):
        element = curr_table.rand()
        element_key = element[0]
    
    print('we have curr table')
    chosen_elements[element_key]['join_freq'] = freq_in_join_estimate[element_key]
    
#     if chosen_elements[element_key]['sampled'] == freq_in_join_estimate[element_key]:
#         print('problem')
#         continue
    
    chosen_elements[element_key]['sampled'] +=1
    chosen_elements[element_key]['sampled_from'].append(curr_table.name)
    sampled_keys.append((element, curr_table.name))
    print(f'sampled element {element} from table {curr_table.name}')

    
#     element = random.sample(table1, 1)[0]
#     if not chosen_elements[element]['join_freq']:
#         chosen_elements[element]['join_freq'] = freq_in_join_estimate[element]
    
#     chosen_elements[element]['sampled'] +=1
#     chosen_elements[element]['iteration'] +=1
#     chosen_elements[element]['samled_from'].append('table1')

we have full join
curr table selected
we have curr table
sampled element (11, '8a031e3ba5ac4462b1f949fbf3d78e26') from table tbl2
curr table selected
we have curr table
sampled element (16, '2f967156a0b745bb8ac4a4ac1b539778') from table tbl2
curr table selected
we have curr table
sampled element (16, '6e6722239a8045079043941915c7ad58') from table tbl2
curr table selected
we have curr table
sampled element (10, '53e459daa27047c0994e3fe9d63c1a64') from table tbl2
curr table selected
we have curr table
sampled element (14, 'a0317cd0ed884f12919a1e780d66529c') from table tbl2
curr table selected
we have curr table
sampled element (12, '17684c626c5e46799dd6f7cd48b68b41') from table tbl1
curr table selected
we have curr table
sampled element (13, '3ff6b81019114f1cb8aa92f2aa4811b7') from table tbl1
curr table selected
we have curr table
sampled element (16, 'f16f8e03084a4ffca85c6f0ce46a1eb9') from table tbl2
curr table selected
we have curr table
sampled element (10, '6db48279d9d5464da397e9ff441906b5') from table tbl1
curr table selected
we have curr table
sampled element (13, '0d88dc29241e405c84c6e5ed28ca1a51') from table tbl1
curr table selected
we have curr table
sampled element (17, '245825f2a2be4d0185bfcad8030dc0b7') from table tbl2
curr table selected
we have curr table
sampled element (18, 'cb1ca111999c4955810e9e5c7894d300') from table tbl2
curr table selected
we have curr table
sampled element (13, 'c7dfd77aa9284feea7f06accec0802f6') from table tbl1
curr table selected
we have curr table
sampled element (13, '61097cb96a4a42a380fe48e66a45c8f0') from table tbl1
curr table selected
we have curr table
sampled element (13, '641d6437d2b44992b2567022840ca50c') from table tbl1
curr table selected
we have curr table
sampled element (11, '699c8dc2987e4d2ba4628eae9839ee8f') from table tbl1
curr table selected
we have curr table
sampled element (13, 'f53a1ec93c0c4cd8b56bf788e57508c3') from table tbl1
curr table selected
we have curr table
sampled element (18, 'bc75565ec7f84be5b12f8832d64cd475') from table tbl2
curr table selected
we have curr table
sampled element (18, 'be352077950c4fdeaa4e96a903aa0b3e') from table tbl2
curr table selected
we have curr table
sampled element (13, '641d6437d2b44992b2567022840ca50c') from table tbl1
curr table selected
we have curr table
sampled element (12, 'a81589f8491a48fc94850b6070060ad4') from table tbl2
curr table selected
we have curr table
sampled element (13, '9f523535c77346e5b21c7c632d3a9371') from table tbl1
curr table selected
we have curr table
sampled element (13, '3ff6b81019114f1cb8aa92f2aa4811b7') from table tbl1
curr table selected
we have curr table
sampled element (18, 'bc75565ec7f84be5b12f8832d64cd475') from table tbl2
curr table selected
we have curr table
sampled element (11, 'b0b3a95d583a4e7183ea0d5aafe33788') from table tbl1
curr table selected
we have curr table
sampled element (11, 'fdfbc28112ab484cb4922ca2ec4c0157') from table tbl1
curr table selected
we have curr table
sampled element (10, 'e71dbfa6ff164106ba1bba77a10d51cb') from table tbl1
curr table selected
we have curr table
sampled element (10, '9726949c649c4e6bb77dcecd36d4a875') from table tbl1
curr table selected
we have curr table
sampled element (15, 'ef425b7659ef44e58dcaf83b4aec18d9') from table tbl2
curr table selected
we have curr table
sampled element (13, '261407be6f074fdf8ac29fc450400a16') from table tbl1
curr table selected
we have curr table
sampled element (13, 'c5c23cc11dec45bb8fa105072ed2fd77') from table tbl1
curr table selected
we have curr table
sampled element (10, 'd744f4906a184d8e93abe2bd49e460c7') from table tbl1
curr table selected
we have curr table
sampled element (13, '9f523535c77346e5b21c7c632d3a9371') from table tbl1
curr table selected
we have curr table
sampled element (13, '180f21c8a75045ee8766617ffa989d71') from table tbl1
curr table selected
we have curr table
sampled element (10, '40e9380fcd674c5796b7ed715cecf750') from table tbl1
curr table selected
we have curr table
sampled element (14, 'ee9c327aa9ce4f299668e0efcc5a1c50') from table tbl2
curr table selected
we have curr table
sampled element (13, '0b2878a796ea478280a72036c6ad5de5') from table tbl1
curr table selected
we have curr table
sampled element (17, '4fad09f541e3450c857b9bc4ea837512') from table tbl2
curr table selected
we have curr table
sampled element (17, '7f1366217c2c4387a08412fbf46c4303') from table tbl2
curr table selected
we have curr table
sampled element (12, '90ca8bc462bf428aaf93378cd2166fd7') from table tbl2
curr table selected
we have curr table
sampled element (13, '0399346473004548a263c95d678fc934') from table tbl1
curr table selected
we have curr table
sampled element (13, '13833e01cd8c44de8c8ffe1852c7b4fe') from table tbl1
curr table selected
we have curr table
sampled element (13, '9f523535c77346e5b21c7c632d3a9371') from table tbl1
curr table selected
we have curr table
sampled element (13, 'c154dab3f5a440479ec8463f804982bd') from table tbl1
curr table selected
we have curr table
sampled element (15, '0a8c471945c74b28888cce228e9f83d3') from table tbl2
curr table selected
we have curr table
sampled element (13, '1e46cb5514054e70a48526a7ddb9f04a') from table tbl1
curr table selected
we have curr table
sampled element (13, '891ad8c2aad34504a1ca979f0ba44513') from table tbl2
curr table selected
we have curr table
sampled element (14, '8cd2c27e3b324871ae9745e54cf37e5c') from table tbl2
curr table selected
we have curr table
sampled element (15, '09d59223999f4b8dad9371d3efb63982') from table tbl2
curr table selected
we have curr table
sampled element (13, '51a4829956164d0b82d9ce814033611e') from table tbl1
curr table selected
we have curr table
sampled element (13, 'e2a7f64bd3ba4780b83aa29dd2b4a6f5') from table tbl1
curr table selected
we have curr table
sampled element (13, 'f32bd17e4a834b4885be0e46672fc860') from table tbl1
curr table selected
we have curr table
sampled element (14, '4ce83c8db7a148f3aee276311df67e72') from table tbl2
curr table selected
we have curr table
sampled element (13, '3ff6b81019114f1cb8aa92f2aa4811b7') from table tbl1
curr table selected
we have curr table
sampled element (15, '0a8c471945c74b28888cce228e9f83d3') from table tbl2
curr table selected
we have curr table
sampled element (20, 'aa0b1a13a57a47e8884702b6e1685397') from table tbl1
curr table selected
we have curr table
sampled element (10, '9726949c649c4e6bb77dcecd36d4a875') from table tbl1
curr table selected
we have curr table
sampled element (13, '61097cb96a4a42a380fe48e66a45c8f0') from table tbl1
curr table selected
we have curr table
sampled element (13, '0e2bb6d291374920b5f4daf17b27eab0') from table tbl1
curr table selected
we have curr table
sampled element (10, 'e7b6f804740e49078826187749e3d8cc') from table tbl2
curr table selected
we have curr table
sampled element (15, 'd73fcdbc5a484e4da1d100b95bc0f158') from table tbl2
curr table selected
we have curr table
sampled element (13, 'f9c864bf8bfb4573b7a5132b90a0ef91') from table tbl1
curr table selected
we have curr table
sampled element (13, '21741c90fc494d82b4830a6f1565688e') from table tbl1
curr table selected
we have curr table
sampled element (13, 'd968bfd9490f41cca2b59a8d4ceb54d4') from table tbl1
curr table selected
we have curr table
sampled element (18, 'be352077950c4fdeaa4e96a903aa0b3e') from table tbl2
curr table selected
we have curr table
sampled element (11, 'a20f28956e814c8bb77758d00dd09190') from table tbl2
curr table selected
we have curr table
sampled element (13, '7f2daf9d2ddf44c4a801a4f31dac6251') from table tbl1
curr table selected
we have curr table
sampled element (15, 'd73fcdbc5a484e4da1d100b95bc0f158') from table tbl2
curr table selected
we have curr table
sampled element (12, 'bb66994e9ee24acb8be5dd7c670677a9') from table tbl2
curr table selected
we have curr table
sampled element (11, 'a20f28956e814c8bb77758d00dd09190') from table tbl2
curr table selected
we have curr table
sampled element (10, '53e459daa27047c0994e3fe9d63c1a64') from table tbl2
curr table selected
we have curr table
sampled element (13, '9f523535c77346e5b21c7c632d3a9371') from table tbl1
curr table selected
we have curr table
sampled element (16, '2f967156a0b745bb8ac4a4ac1b539778') from table tbl2
curr table selected
we have curr table
sampled element (13, '13833e01cd8c44de8c8ffe1852c7b4fe') from table tbl1
curr table selected
we have curr table
sampled element (17, 'be3884455b3f43ae8d509b1c53f3823f') from table tbl2
curr table selected
we have curr table
sampled element (11, '8a031e3ba5ac4462b1f949fbf3d78e26') from table tbl2
curr table selected
we have curr table
sampled element (11, '55a94ee519bb4a03bd14e613946e8bfd') from table tbl1
curr table selected
we have curr table
sampled element (20, 'cead899511234aa79c34200bde252d7d') from table tbl2
curr table selected
we have curr table
sampled element (15, '3943fb313c4a4d0fa619afa5473e2cb2') from table tbl2
curr table selected
we have curr table
sampled element (13, '0edc0b508a384320a007386f4ca79fe2') from table tbl1
curr table selected
we have curr table
sampled element (11, 'a20f28956e814c8bb77758d00dd09190') from table tbl2
curr table selected
we have curr table
sampled element (13, '0e2bb6d291374920b5f4daf17b27eab0') from table tbl1
curr table selected
we have curr table
sampled element (13, 'bc819b4d6f904febbcaada140a2dad36') from table tbl1
curr table selected
we have curr table
sampled element (13, 'ded9cf209abf4149b92ae1aa73de126f') from table tbl2
curr table selected
we have curr table
sampled element (11, 'bdeb00e35bc14bc3b54cb476f04e7b63') from table tbl2
curr table selected
we have curr table
sampled element (17, '4fad09f541e3450c857b9bc4ea837512') from table tbl2
curr table selected
we have curr table
sampled element (10, 'bf492e91726247b3bd4c985562d7191d') from table tbl2
curr table selected
we have curr table
sampled element (13, 'c154dab3f5a440479ec8463f804982bd') from table tbl1
curr table selected
we have curr table
sampled element (13, '0399346473004548a263c95d678fc934') from table tbl1
curr table selected
we have curr table
sampled element (13, 'aa7e983d1c9f455bbeb5b4b8d49a24cf') from table tbl1
curr table selected
we have curr table
sampled element (12, 'd698bfda5dab42a999cd5927acfcc69e') from table tbl2
curr table selected
we have curr table
sampled element (12, 'd698bfda5dab42a999cd5927acfcc69e') from table tbl2
curr table selected
we have curr table
sampled element (12, 'bb66994e9ee24acb8be5dd7c670677a9') from table tbl2
curr table selected
we have curr table
sampled element (13, '8ccd4e34a4da4ce19a2ccc72b0bb23d8') from table tbl2
curr table selected
we have curr table
sampled element (20, 'aea13ba8c7634545883893a44644946c') from table tbl2
curr table selected
we have curr table
sampled element (13, '9d6aff2b848841318cb42fb050c4f316') from table tbl1
curr table selected
we have curr table
sampled element (11, '8a031e3ba5ac4462b1f949fbf3d78e26') from table tbl2
curr table selected
we have curr table
sampled element (13, 'a0f1ed6a977149b58f69974af7e00339') from table tbl1
curr table selected
we have curr table
sampled element (11, '86e2fd7259f04ca1b5983be9c406d7f9') from table tbl2
curr table selected
we have curr table
sampled element (13, 'a0f1ed6a977149b58f69974af7e00339') from table tbl1

In [399]:
[(key, len(settings['sampled_from'])) for key, settings in chosen_elements.items()]

[(11, 12),
 (16, 4),
 (10, 10),
 (14, 4),
 (12, 7),
 (13, 43),
 (17, 5),
 (18, 5),
 (15, 7),
 (20, 3)]

In [400]:
# continue from here: need to see:
# 1. we don't choose the same element more the expected number in the join
# 2. we don't choose the same tupple

In [401]:
set(tbl2.keys)

{10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}

In [410]:
def _calculate_distribution(values):
    return {value: occurences/len(values) for value, occurences in Counter([key for key in values]).most_common(10)}

len(full_join)

355

In [411]:
_calculate_distribution ([x[0][0] for x in sampled_keys])

{13: 0.43,
 11: 0.12,
 10: 0.1,
 12: 0.07,
 15: 0.07,
 17: 0.05,
 18: 0.05,
 16: 0.04,
 14: 0.04,
 20: 0.03}

In [412]:
_calculate_distribution([x[0] for x in full_join])

{13: 0.6985915492957746,
 11: 0.10140845070422536,
 10: 0.08450704225352113,
 12: 0.03380281690140845,
 15: 0.01971830985915493,
 17: 0.014084507042253521,
 18: 0.014084507042253521,
 20: 0.011267605633802818,
 16: 0.011267605633802818,
 14: 0.011267605633802818}

In [413]:
Counter([x[0] for x in full_join])

Counter({10: 30,
         20: 4,
         17: 5,
         15: 7,
         11: 36,
         12: 12,
         13: 248,
         18: 5,
         16: 4,
         14: 4})

In [414]:
[sampled_keys

SyntaxError: unexpected EOF while parsing (<ipython-input-414-3eb65f5028c2>, line 1)